@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --base-background-color: 255, 255, 255;
  --base-border-color: 156, 163, 175;
  --btn-disabled-color: 148, 163, 184;
  --primary-color: 61, 144, 200;
  --primary-text-color: 255, 255, 255;
  --secondary-color: 246, 237, 226;
  --text-color: 33, 53, 71;
  --text-highlight-color: 241, 228, 215;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  color: --text-color;
}

#app {
  width: 100%;
  height: 100vh;
}
